$background-color: #eeeeee;
$primary-color: #2d9eee;
$dark-color: #333333;
$med-color: #555555;
$light-color: #999999;

h1 {
	padding-top:3vh;
	padding-bottom:1vh;
}

.message {
	text-align:center;
	font-size:40px;
}

@media screen and (min-width: 900px) {
  .colAbt {
    min-width: 900px;
    margin: auto;
    width: 74vw;
  }
}

@media screen and (max-width: 850px) {
	.message {
		font-size:34px;
	}
}

#probSol {
	padding-bottom: 2vh;
}

.bigTagC {
	margin-bottom: 0;
	color: $primary-color;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}

.bigTag {
	color: $primary-color;
	font-weight:bold;
	font-size:25px;
}

#photoRow {
	text-align: center;
	.teamPhoto {
		max-width: 170px;
	}
}

.colAbt {
	padding-left: 4vw;
	padding-right: 4vw;
}

#theTeam {
   align-items:center;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
}

#abtFoot {
	padding-top: 2vh;
	font-style: italic;
	font-size:15px;
}

#abtBlankFooter {
	padding-top:5vh;
}

.textBox {
	background-color: #dedede;
	border-radius: 5px;
	margin: 0vh 2vw;
}

html {
	height: 100%;
}

body {
  height: 100%;

}
