$background-color: #eeeeee;
$primary-color: #2d9eee;
$dark-color: #333333;
$med-color: #555555;
$light-color: #999999;
$orange: #ee7f2d;
$font-light: "Avenir-Light", "Arial-Light";
$font-med: "Avenir-Medium", "Arial-Medium";
$font-heavy: "Avenir-Heavy", "Arial-Heavy";
/* rgb values for primary-color */
$primary-color-r: 29;
$primary-color-g: 158;
$primary-color-b: 238;


// Page style
html, body {
	// Base font
	font-family: 100% $font-med;
	// Headers
	.h1, h1 {
		font-family: $font-heavy;
		font-size:36px;
	}

	.h2, h2 {
		font-family: $font-heavy;
		font-size:26px;
	}

	.h3, h3 {
		font-family: $font-med;
		font-size:20px;
	}

	// Other Style
	background-color: $background-color;
}

// Debug Style
.debug-data {
	display: none;
	color: red;
}

::placeholder {
	color: $light-color !important;
	opacity: 1;
}

.flex-container-row {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.searchRow {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-col {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-scroll {
    flex-grow: 0;
    flex-shrink: 10000;
    flex-basis: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footer {
  color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  height: 6.4vh;
}

.successFlash {
  background-color:#00b300;
}

.errorFlash {
  background-color:red;
}

#leftCol {
	max-height: 88vh;
	height: 88vh;
	flex: 25%;
    float: left;
}
#rightCol {
	max-height: 88vh;
	height: 88vh;
	flex: 70%;
    float: left;
}

.flashedMessage {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

@media screen and (max-width: 600px) {
    .flex-container-row {
        flex-direction: column;
    }
}
