$background-color: #eeeeee;
$primary-color: #2d9eee;
$dark-color: #333333;
$med-color: #555555;
$light-color: #999999;
$orange: #ee7f2d;
$font-light: "Avenir-Light", "Arial-Light", sans-serif;
$font-med: "Avenir-Medium", "Arial-Medium", sans-serif;
$font-heavy: "Avenir-Heavy", "Arial-Heavy", sans-serif;
/* rgb values for primary-color */
$primary-color-r: 29;
$primary-color-g: 158;
$primary-color-b: 238;

// Page style
html, body {
	// Font Style

	// Base font
	font-family: 100% $font-med;
	// Headers
	.h1, h1 {
		font-family: 100% $font-heavy;
		font-size:36px;
	}

	.h2, h2 {
		font-family: 100% $font-heavy;
		font-size:26px;
	}

	.h3, h3 {
		font-family: 100% $font-med;
		font-size:20px;
	}

	// Other Style
	background-color: $background-color;

	.scroll-disabled {
		overflow: hidden;
	}
}

// Navbar style
html, body {
	.logo {
		width: 200px;
	}
	.navbar-expand-md {
		background-color: $primary-color;
	}
	.nav-link {
		font: 100% $font-med;
		font-size:24px;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: $primary-color;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 6;
	}

	#bigRow {
		padding-left: 0vw;
		padding-right: 0vw;
		margin-bottom: 2vh;
	}
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.danger-button {
	color: #dc3545;
 	&:hover {
 		color: #c9302c;
 	}
 }
  
::placeholder {
	color: $light-color !important;
	opacity: 1;
}

.hidden {
	display: none !important;
}

// Debug Style
.debug-data {
	display: none;
	color: red;
}

#searches-wrapper {
	min-height: 75px;
	border-top: 5px solid $med-color;	
	position: relative;

	.centered{
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#loading-spinner {
		font-size: 1.7em;
	}
}

#searches {
	padding-top: 1vh;
}

#searchBox {
	padding: 0;
	margin: 2vh 2vh;
	margin-bottom: 0;
	max-width: 100%;
	width: 100%;
	flex-shrink: 1000;
	font-size: 16px !important;
}

#searchSort {
	border: 1px solid #AAA;
	color: $dark-color;
	font-size: 0.75em;

	overflow: hidden;
	margin: 2vh 0vh;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    text-overflow: ellipsis;
    white-space: nowrap;

    min-height: 4.25vh
}

#myEventSortBtn {
	margin: 2vh 2vh;
	border: 1px solid #AAA;
	color: $dark-color;
	font-size: 0.75em;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 4.25vh;
    float:left;
    font: 100% $font-light;
	font-size: 14px !important;
}

#searchRow {
 	min-height: 4.25vh;
}

.searchButtons {
	display: flex; 
	flex-wrap: nowrap; 
	margin-right: 2vh;
}

.filter-button {
	margin: 2vh 2vh;
	padding-left: 0;
}

.filters {
	margin: 0vh 2vh;
	margin-bottom: 2vh;

	label {
		font-size: 0.75em;
	}

	input[type=text] {
		font-size: 0.65em;
	}

	div {
		display: none;
	}

	.filter-btn {
		background-color: $primary-color;
		color: white;
	}
}

.smallSearchResult {
	flex-grow: 1000;
 	min-height: 10vh;
 	border-right: 4px solid $primary-color;
	// border-left: 4px solid $primary-color;
	border-top: 2px solid $primary-color;
	border-bottom: 2px solid $primary-color;
	cursor: pointer;
	margin: 0vh 2vh 0vh 0vh;
 	overflow: hidden;
 	background: white;
	color: $dark-color;
	.resultTitle {
		font-size: 1.2em;
	}
	.resultTime {
		font-size: 1em;
		color: $light-color;
		margin-bottom: 0.3em;
	}
 	&.selected {
		.resultTitle {
			color: white;
		}
		.resultTime {
			color: white;
		}
		border-radius: 0px;
		background-color: $primary-color;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 2;
		position: relative;
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
		&:hover {
			background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.8);
		}
 	}
 	&:hover {
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 1;
		position: relative;
 		background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.2);
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
 	}
	.resultContents {
		padding-left: 0.8vw;
		padding-right: 0.8vw;
		padding-top: 0.6vh;

		text-overflow: ellipsis;
		overflow: hidden;
		.resultFireBtn {
			font-size: 24px;
			font-family: FontAwesome;
			color: $background-color;
			padding: 0;
			&.selected {
				color: $orange;
				&:hover {
					color: $orange;
				}
			}
			&:hover {
				color: rgba(255, 165, 0, 0.5);
			}
			.resultFireNum {
				color: $dark-color !important;
				font-size: 0.85em;
				font-weight: bold;
			}
		}
	}
}


.searches-resizer {
	max-height: 88vh;
	height: 88vh;
	width: 5px;
	float: left;
	z-index: 500;
	background-color: $primary-color;
	cursor: col-resize;
	&:hover {
		background-color: $orange;
	}
}

// Event event
.event-view {
  max-height: 100%;
  min-width: 30vh;
  display: none;
  color: $light-color;

	.event-view-header {
		padding: 10px;
    	background-color: $background-color;
		// Shadow
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		position: relative;
    	z-index: 5;
	}
	.event-view-title {
	    color: $dark-color;
		margin: 0;
		line-height: normal;
	}
	.event-view-host {
		color: $med-color;
		margin: 0;
		line-height: 30px;
		font-size: 20px;
	}
	.event-view-subtitle{
	    color: $med-color;
		margin: 0;
		line-height: normal;
	}
	.eventFireBtn {
	    color: $light-color;
		font-size: 45px;
		font-family: FontAwesome;
		line-height: 0 !important;
		padding: 0;
		margin-left:2vh;
		&.selected {
			color: $orange;
			&:hover {
				color: $orange;
			}
		}
		&:hover {
			color: rgba(255, 165, 0, 0.5);
		}
	}
	.eventFireNum {
		color: $dark-color;
		font-size: 0.85em;
		font-weight: bold;
	}

	.event-view-box {
	    width: 100%;
	    height: 75vh;
        z-index: 0;
        position: relative;
	    overflow-y: scroll;
	    overflow-x: hidden;
	}

    .eventPhoto {
        position: fixed;
        z-index: -1;
        img {
            width: 100%;
            max-height: 30vh;
            object-fit: cover;
        }
    }

	.event-view-info {
	    width: 100%;
	    background-color: white;
	    height: 75vh;
	    overflow-y: scroll;
	    overflow-x: hidden;

        z-index: 1;
	    padding-bottom: 75vh;
        margin-top: 30vh;
	}

	.eventSection {
		padding-top: 20px;
		color: $med-color;
		margin: 0;
		border-bottom: 2px solid $primary-color;
	}
	.calendar-btn {
		text-decoration: none !important;
  	}
  
	.reportBtn {
		font-size: 1.5em;
		cursor: pointer;
	}
}

.flex-container-row {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.searchRow {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-col {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-scroll {
    flex-grow: 0;
    flex-shrink: 10000;
    flex-basis: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footer {
  color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  height: 6.4vh;

  .flashedMessage {
    padding-top: 1.5vh;
	padding-bottom: 1.5vh;
  }

  .close {
  	position: absolute;
  	right: 1vh;

  	top: 50%;

  	font-size: 24px;
  	margin-top: -12px;
  }
}

.successFlash {
  background-color:#00b300;
}

.errorFlash {
  background-color:red;
}

#leftCol {
	max-height: 88vh;
	height: 88vh;
	flex: 25%;
    float: left;
    border-right: 5px solid $primary-color;
}
#rightCol {
	max-height: 88vh;
	height: 88vh;
	flex: 70%;
    float: left;
}

.searchBoxCol {
	flex: 40%;
}

@media screen and (max-width: 600px) {
    .flex-container-row {
        flex-direction: column;
    }
    #leftCol {
    	   max-height: 55vh;
    	   height: auto;
    }
}

#interiorWelcomeDiv {
	padding-left: 5vw;
	#welcomeMessage {
		font-size: 50px;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.welcomeText {
		font-size:23px;
		.keyword {
			font-size:25px;
			font-weight:bold;
			color:$primary-color;
		}
	}
	
}

#welcome {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

#trendingLabel {
	text-align:center; 
	font-size:24px; 
	color:darkorange; 
	font-weight:bold;
}

