$background-color: #eeeeee;
$primary-color: #2d9eee;
$dark-color: #333333;
$med-color: #555555;
$light-color: #999999;
$orange: #ee7f2d;
$font-light: "Avenir-Light", "Arial Narrow", "Helvetica-Light", sans-serif;
$font-med: "Avenir-Medium", "Arial", "Helvetica", sans-serif;
$font-heavy: "Avenir-Heavy", "Arial", "Helvetica-Bold", sans-serif;
/* rgb values for primary-color */
$primary-color-r: 29;
$primary-color-g: 158;
$primary-color-b: 238;

// Page style
html, body {
	// Font Style

	// Base font
	font-family: $font-med;
	// Headers
	.h1, h1 {
		font-family: $font-heavy;
		font-size:36px;
		@media screen and (max-width: 767px) {
			font-size:32px;
		}
	}

	.h2, h2 {
		font-family: $font-heavy;
		font-size:24px;
		@media screen and (max-width: 767px) {
			font-size:20px;
		}
	}

	.h3, h3 {
		font-family: $font-med;
		font-size:20px;
		@media screen and (max-width: 767px) {
			font-size:16px;
		}
	}

	// Other Style
	background-color: $background-color;

	.scroll-disabled {
		overflow: hidden;
	}
}

// Navbar style
html, body {
	.logo {
		height: 60px;
		padding-right: .5rem;
		padding-left: .5rem;
		@media screen and (max-width: 767px) {
			height: 40px;
		}
	}
	.navbar-expand-md {
		background-color: $primary-color;
	}
	.nav-link {
		font-family: $font-med;
		font-size:24px;
		@media screen and (min-width: 825px) and (max-width: 920px) {
			font-size:20px;
		}
		@media screen and (min-width: 768px) and (max-width: 825px) {
			font-size:17px;
		}
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: $primary-color;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 6;
	}

	.mobile-search-button {
		height: 40px;
		width: 56px;
		margin-right: 1rem;
	}

	.navbar-toggler {
		&:hover {
	 		color: $primary-color !important;
			border-color: $primary-color;
			background-color: white;
			.navbar-toggler-icon {
				background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='"
					+ rgba($primary-color-r, $primary-color-g, $primary-color-b, 1.0)
					+ "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
			}
		}
	}

	#browserView {
		padding-left: 0vw;
		padding-right: 0vw;
	}
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.danger-button {
	color: $light-color;
	@media screen and (min-width: 768px) {
	 	&:hover {
	 		color: #cc0000;
	 	}
	}
 }

::placeholder {
	color: $light-color !important;
	opacity: 1;
}

.hidden {
	display: none !important;
}

// Debug Style
.debug-data {
	display: none;
	color: red;
}

.searches-wrapper {
	min-height: 75px;
	border-top: 5px solid $med-color;
	position: relative;

	.centered{
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#loading-spinner {
		font-size: 1.7em;
	}
}

.search-container {
	position: relative;
	z-index: 1000;
	box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.3);
}

#searchBox {
	padding: 0;
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: 1vw;
	margin-right: 0;
	margin-bottom: 0;
	max-width: 100%;
	width: 100%;
	flex-shrink: 1000;
	font-size: 16px !important;
}

#searches {
	padding-bottom: 30px;
}

#myEventSortBtn {
	margin: 2vh 2vh;
	border: 1px solid #AAA;
	color: $dark-color;
	font-size: 0.75em;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 4.25vh;
    float:left;
    font-family: $font-light;
	font-size: 14px !important;
}

#searchRow {
 	min-height: 4.25vh;
 	display: flex;
 	flex-wrap: nowrap;
 	align-items: stretch;
}

.searchButtons {
	display: flex;
	flex-wrap: nowrap;
	font-size: 14px;

	&.myevents {
		padding-bottom: 2vh;
	}

	.filter-button {
		padding-left: 0rem !important;
		padding-bottom: 0rem !important;
		padding-top: .5rem !important;
		font-size: 1.25em;
		margin-left: 1vw;
		&:hover {
	 		color: $primary-color;
	 	}
		&.active {
			color: $primary-color !important;
		}
	}

	.sort-box {
		padding-top: 1vh;

		.sort-direction {
			cursor: pointer;
			padding-left: 8px;
			padding-right: 10px;
			font-size: 1.55em;
			display: inline-block;
			float: left;
			.sort-direction-btn {
				&:hover {
			 		color: $primary-color;
			 	}
			}
		}

		.select-style {
		    border: 1px solid #ccc;
		    width: 175px;
		    min-width: 175px;
		    border-radius: 3px;
		    overflow: hidden;
		    background: #fafafa url("../graphics/sort-down.svg") no-repeat 95% 50%;
			background-size: 12px 16px;
		    float: left;
		}

		.select-style select {
		    padding: 5px 8px;
		    width: 130%;
		    border: none;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    -webkit-appearance: none;
		}

		.select-style select:focus {
		    outline: none;
		}
	}
}

.calendar-view-button {
	padding-left: 8px;
	padding-right: 12px;
	margin-top: 2vh;
	&:hover {
		color: $primary-color;
	}
}

.filters {
	margin: 1vh 2vh;
	font-size: 14px !important;
	background-color: #dedede;
	border-radius: 5px;
	padding: 8px;

	div {
		display: block;
		//display: inline-block;
		margin-top: 2px;
	}

	.date-filter {
		span {
			margin-left: 5px;
			margin-right: 5px;
			float: left;
		}
		#datepicker {
			float: left;
			font-size: 14px !important;
			width: 100px;
			padding: 3px 8px !important;
			border-color: #80bdff;
		}
	}

	.filter-btn {
		margin: 2px;
		font-size: 14px !important;
		//border-color: #ced4da;
		border-color: #80bdff;
		background-color: white;
		padding: 3px 8px !important;
		&:hover {
			border-color: $primary-color;
		}
		&.selected {
			color: white;
			background-color: $primary-color;
		}
	}

	#tag-filters {
		margin-bottom: 2px !important;
		.form-check {
			margin: 2px;
			display: inline-block;
		}
	}
}

.smallSearchResult {
	flex-grow: 1000;
 	min-height: 10vh;
 	border-right: 4px solid $primary-color;
	// border-left: 4px solid $primary-color;
	border-top: 2px solid $primary-color;
	border-bottom: 2px solid $primary-color;
	cursor: pointer;
	margin: 0vw 2vw 0vw 0vw;
 	overflow: hidden;
 	background: white;
	color: $dark-color;
	.resultTitleContainer {
		width: 80%;
		overflow: hidden;
	}
	.resultTitle {
		font-size: 1.2em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.resultTime {
		font-size: 1em;
		color: $light-color;
		margin-bottom: 0.3em;
	}
 	&.selected {
		.resultTitle {
			color: white;
		}
		.resultTime {
			color: white;
		}
		margin: 0vw;
		border-radius: 0px;
		background-color: $primary-color;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 2;
		position: relative;
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
		&:hover {
			background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.8);
		}
 	}
 	&:hover {
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 1;
		position: relative;
 		background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.2);
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
 	}
	.resultContents {
		padding-left: 0.8vw;
		padding-right: 0.8vw;
		padding-top: 0.6vh;

		text-overflow: ellipsis;
		overflow: hidden;
		.resultFireBtn {
			font-size: 24px;
			font-family: FontAwesome;
			color: $background-color;
			padding: 0;
			&.selected {
				color: $orange;
				@media screen and (min-width: 768px) {
					&:hover {
						color: $orange;
					}
				}
			}
			@media screen and (min-width: 768px) {
				&:hover {
					color: rgba(238, 127, 45, 0.75);
				}
			}
		}
		.resultFireNum {
			color: $dark-color !important;
			font-size: 0.85em;
			font-weight: bold;
		}
	}
}

.searches-resizer {
	max-height: 88vh;
	height: 88vh;
	width: 5px;
	float: left;
	z-index: 500;
	background-color: $primary-color;
	cursor: col-resize;
	&:hover {
		background-color: $orange;
	}
}

// Event event
// TODO: Move to seperate file?
.event-view {
  max-height: 100%;
  display: none;
  color: $light-color;

	.event-view-header {
		padding: 10px;
    	background-color: $background-color;
		// Shadow
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3), 0px 4px 20px 0 rgba(0, 0, 0, 0.2);
		position: relative;
    	z-index: 5;
	}
	.event-view-title {
		padding-right: 5px;
	    color: $dark-color;
		margin: 0;
		line-height: normal;
	}
	.event-view-host {
		color: $med-color;
		margin: 0;
		line-height: 30px;
		font-size: 20px;
		@media screen and (max-width: 767px) {
			font-size:16px;
		}
	}
	.event-view-subtitle {
	    color: $med-color;
		margin: 0;
		line-height: normal;
	}
	.eventFireBtn {
	    color: $light-color;
		font-size: 45px;
		font-family: FontAwesome;
		line-height: 0 !important;
		padding: 0;
		margin-left:2vh;
		&.selected {
			color: $orange;
			@media screen and (min-width: 768px) {
				&:hover {
					color: $orange;
				}
			}
		}
		@media screen and (min-width: 768px) {
			&:hover {
				color: rgba(238, 127, 45, 0.75);
			}
		}
	}
	.eventFireNum {
		color: $dark-color;
		font-size: 0.85em;
		font-weight: bold;
	}
	.event-view-info {
		background-color: white;
	    width: 100%;
	    overflow-y: scroll;
	    overflow-x: hidden;
		.event-wrapper {
			padding-top: 2vh;
			display: block !important;
		}
	}
	img {
		width: 100%;
	}
	.otherImage {
		background-color: $primary-color;
		img {
			position: relative;
			z-index: 1000;
			box-shadow: 0px 14px 16px 8px rgba(0, 0, 0, 0.4);
			margin-left: auto;
			margin-right: auto;
			width: auto;
			display:block;
		}
	}
	.posterImage {
		img {
			width: auto;
		}
	}
	.eventSection {
		padding-top: 1vh;
		color: $med-color;
		margin: 0;
		border-bottom: 2px solid $primary-color;
	}
	.event-view-data {
		width: 100%;
		font-size:18px;
		@media screen and (max-width: 767px) {
			font-size:12px;
		}
		color: $light-color;
		line-height: normal;
		margin: 0px;
	}
	.event-view-box {
		padding-top: 0 !important;
		padding-bottom: 1vh !important;
		width: 100%;
	}
	.calendar-btn {
		padding-right: 10px;
		text-decoration: none !important;
		color: $light-color;
	 	&:hover {
	 		color: $primary-color;
	 	}
  	}
  	#eventDescription {
  		white-space: pre-wrap;
  	}
	.reportBtn {
		padding-right: 20px;
		padding-top: 10px;
		font-size: 1.0em;
		cursor: pointer;
	}
}

.flex-container-row {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.flex-container-bigrow {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

.searchRow {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-col {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-scroll {
    flex-grow: 0;
    flex-shrink: 10000;
    flex-basis: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footer {
  color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  height: 6.4vh;
  z-index: 100000;

  .flashedMessage {
    padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	font-size: 24px;
  }

  .close {
  	position: absolute;
  	right: 1vh;

  	top: 50%;

  	font-size: 24px;
  	margin-top: -12px;
  }
}

.successFlash {
  background-color:#00b300;
}

.errorFlash {
  background-color:red;
}

#leftCol {
	min-width: 275px;
	flex: 35%;
    float: left;
    border-right: 5px solid $primary-color;
}
#rightCol {
	flex: 65%;
    float: left;
}

@media screen and (max-width: 767px) {
	#leftCol, #rightCol {
		width: 100vw !important;
		flex: 100%;
		-webkit-overflow-scrolling: touch;
	}
	#leftCol {
		min-width: 0px;
		border-right: none;
	}
}

.slick-initialized .slick-slide {
    display: flex !important;
}

@media screen and (min-width: 768px) {
	.calendar-view {
		#leftCol {
			flex: 60%;
		}
		#rightCol {
			flex: 40%;
		}
	}
}

.calendarBtns {
	display:none;

	.calendarHeader {
		background-color: $primary-color;//#1d669a;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		margin-right: 0vh;
		border-bottom: 2px solid $dark-color;
		position: relative;
		z-index: 1000;

		.weekTitle {
			font-family: $font-med;
			font-size: 2em;
			font-weight: bold;
			color: white;
			margin-left: 2vh;
			margin-right: 2vh;
		}

		.previousWeekBtn {
			margin-left: 4vw;
			&:hover {
		 		color: white;
		 	}
		}

		.nextWeekBtn {
			margin-right: 4vw;
			&:hover {
		 		color: white;
		 	}
		}
	}
}

.calendar-view-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	border-right: 2px solid $dark-color;

	.dayCol {
		max-width: 14.2857%;
		min-width: 14.2857%;
		border-left: 2px solid $dark-color;
		border-bottom: 2px solid $dark-color;
		min-height: 55vh;
		height: auto;

		.dayTitle {
		 	border-bottom: 2px solid $dark-color;
		 	width: 100%;
		 	text-align: center;
			vertical-align: middle;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			.dayName {
				margin: 0vh 0.5vh;
			}

			.date {
				margin: 0vh 0.5vh;
			}
		}

		.dayResults {
			display: flex;
			flex-direction: column;
			.smallSearchResult {
				margin-right: 0;
				overflow: wrap;
				border-right: none;
				border-left: none;
				border-top: none;
				border-radius: 0;
				.resultContents {
					max-height: 5.6em;
					.resultTitle {
						font-size: 0.9em;
						@media screen and (max-width: 767px) {
							font-size:0.6em;
						}
						line-height: 1em;
						max-height: 3.8em;
						overflow: hidden;
					}
					.resultTime {
						font-size: 0.6em;
						@media screen and (max-width: 767px) {
							font-size:0.3em;
						}
						line-height: 1em;
					}
					.resultFireBtn {
						display: none;
					}

					.resultFireNum {
						display: none;
					}
				}
			}
		}
	}

}

.searchBoxCol {
	flex: 40%;
}

/* THINGS FOR SLICK CAROUSEL */
.slick-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.slick-track {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.slick-slide {
  height: auto;
}

#interiorWelcomeDiv {
	padding-left: 5vw;
	#welcomeMessage {
		color: $dark-color;
		font-size: 50px;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.welcomeText {
		font-size:23px;
		.keyword {
			font-size:25px;
			font-weight:bold;
			color:$primary-color;
		}
	}
	@media screen and (max-width: 768px) {
		.welcome-img {
			display: none;
		}
	}
}

#welcome {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

#trendingLabel {
	margin-top: 1vh;
	text-align:center;
	font-size:24px;
	background-color: $primary-color;
	color: white;
	font-weight:bold;
	display: none;
}

.badge-primary {
    font-size:15px;
}

.badge-border {
	padding-left: 8px;
	padding-top: 13px;
}

// badge colors
#MusicTag {
  background-color: CornflowerBlue;
}

#DanceTag {
  background-color: purple;
}

#TalkTag {
  background-color: IndianRed;
}

#TheaterTag {
  background-color: green;
}

#StreetTag {
  background-color: gray;
}

#OrientationTag {
  background-color: orange;
}

#myModal {
	padding-top:20vh;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 768px) {
	.tooltip {
		display: none;
	}
}
