$background-color: #eeeeee;
$primary-color: #2d9eee;
$dark-color: #333333;
$med-color: #555555;
$light-color: #999999;
$orange: #ee7f2d;
$font-light: "Avenir-Light", "Arial-Light";
$font-med: "Avenir-Medium", "Arial-Medium";
$font-heavy: "Avenir-Heavy", "Arial-Heavy";
/* rgb values for primary-color */
$primary-color-r: 29;
$primary-color-g: 158;
$primary-color-b: 238;

#searches {
	border-top: 5px solid $med-color;
	border-bottom: 5px solid $primary-color;
}

#searchBox {
	padding: 0;
	margin: 2vh 2vh;
	max-width: 100%;
	width: 100%;
	flex-shrink: 1000;
}

#search-box {
	font-size: 16px !important;
	min-width: 100px;
}

#searchSort {
	border: 1px solid #AAA;
	color: $dark-color;
	font-size: 0.75em;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 2vh 2vh;
      flex-grow: 1000;
      flex-shrink: 0;
}

.filters {
	margin: 0vh 2vh;

	label {
		font-size: 0.75em;
	}

	input[type=text] {
		font-size: 0.65em;
	}
	.datetime {
		display: none;
	}
}

.smallSearchResult {
	flex-grow: 1000;
 	min-height: 10vh;
 	border-right: 4px solid $primary-color;
	border-left: 4px solid $primary-color;
	border-top: 2px solid $primary-color;
	border-bottom: 2px solid $primary-color;
	cursor: pointer;
	margin: 0vh 4vh 0vh 0vh;
 	overflow: hidden;
 	background: white;
	color: $dark-color;
	.resultTitle {
		font-size: 1.2em;
	}
	.resultTime {
		font-size: 1em;
		color: $light-color;
		margin-bottom: 0.3em;
	}
 	&.selected {
		.resultTitle {
			color: white;
		}
		.resultTime {
			color: white;
		}
		background-color: $primary-color;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 2;
		position: relative;
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
		&:hover {
			background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.8);
		}
 	}
 	&:hover {
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 1;
		position: relative;
 		background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.2);
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
 	}
	.resultContents {
		padding-left: 0.8vw;
		padding-right: 0.8vw;
		padding-top: 0.6vh;
		text-overflow: ellipsis;
		overflow: hidden;
		.resultFireBtn {
			font-size: 24px;
			font-family: FontAwesome;
			color: $background-color;
			padding: 0;
			&.selected {
				color: $orange;
				&:hover {
					color: $orange;
				}
			}
			&:hover {
				color: rgba(255, 165, 0, 0.5);
			}
			.resultFireNum {
				color: $dark-color !important;
				font-size: 0.85em;
				font-weight: bold;
			}
		}
	}
}

.search-resizer {
	max-height: 88vh;
	height: 88vh;
	width: 5px;
    float: left;
	z-index: 500;
	background-color: $primary-color;
	cursor: col-resize;
	&:hover {
		background-color: $orange;
	}
}
