$background-color: #eeeeee;
$primary-color: #2d9eee;
$font-stack: "Avenir-Medium";
/* rgb values for primary-color */
$primary-color-r: 29;
$primary-color-g: 158;
$primary-color-b: 238;

html, body {
	// Font Style
	font: 100% $font-stack;
	.h1 {
		font-size:28px;
	}

	background-color: $background-color;

	.logo {
		width: 200px;
	}
	.navbar-expand-md {
		background-color: $primary-color;
	}
	.nav-link {
		font-size: 20px;
	}

	h1 {
		text-align: center;
	}

	#bigRow {
		padding-left: 0vw;
		padding-right: 0vw;
		margin-bottom: 2vh;
	}
}

.debug-data {
	color: red;
}

#searchBox {
	padding: 0;
	margin: 0vh 2vh;
	max-width: 100%;
	width: 100%;
	flex-shrink: 1000;
}

#searchSort {
	border: 1px solid #AAA;
	color: #555;
	font-size: 0.75em;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0vh 2vh;
      flex-grow: 1000;
      flex-shrink: 0;
}

.filters {
	margin: 0vh 2vh;
	
	label {
		font-size: 0.75em;
	}
	 
	input[type=text] {
		font-size: 0.65em;
	}
	.datetime {
		display: none;
	}
}

.searchResults, .myEvents {
	.smallSearchResult {
	 	height: 10vh;
	 	border: 1px solid silver;
	 	border-radius: 5px;
	 	cursor: pointer;
	 	margin: 0vh 2vh;
	 	overflow: hidden;
	 	background: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.25);
	 	&.selected {
			color: white;
			background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.55);
			&:hover {
				background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.52);
			}
	 	}
	 	&:hover {
	 		background-color: rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.22);
	 	}
		.resultContents {
			padding-left: 0.8vw;
			padding-right: 0.8vw;
			padding-top: 0.6vh;
			padding-bottom: 0.6vh;
			text-overflow: ellipsis;
			overflow: hidden;
				.resultTitle {
					font-size: 0.9em;
					font-weight: bold;
				}
				.resultFireBtn {
					font-size: 24px;
					font-family: FontAwesome;
					color: white;
					padding: 0;
					&.selected {
						color: orange;
						&:hover {
							color: orange;
						}
					}
					&:hover {
						color: rgba(255, 165, 0, 0.5);
					}
				}
				.resultFireNum {
					font-size: 0.85em;
					font-weight: bold;
				}
				.resultTime {
					font-size: 0.85em;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 0.1em;
				}
		}	
	}
}

.myEvents {
	.smallSearchResult {
		flex-grow:1000; 
		margin-right: 0;
	}
	.deleteBtn {
		padding-top: 0; 
		padding-bottom: 0;
	}
	.editBtn {
		padding-top: 0; 
		padding-bottom: 0;
	}
}



.event-view {
  height: 80vh;
  min-width: 30vh;
  overflow: hidden;
  background-color: white;
  margin: 2vh 2vw;
  display: none;
	
	.event-result-title {
		font-family: serif;
		font-size: 40px;
		color: black;
		text-align: center;
		font-weight: bold;
	}
	.event-result-info {
		width: 100%;
		font-size: 20px;
		color: black;
		margin: 1em 0.5em;
	}
	img {
		float: right;
		width: 40%; 
		margin: 0em 1em;
		height: auto;
	}
}

.flex-container-row {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.flex-container-col {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-scroll {
    flex-grow: 0;
    flex-shrink: 10000;
    flex-basis: auto;
    overflow: auto;
    	#searches {
    		min-width:12em;	
	}
}

#leftCol {
	flex: 30%;
    	float: left;
    	border-right: 5px solid black;
}
#rightCol {
	flex: 70%;
    	overflow: hidden;
    	float: left;
}

@media screen and (max-width: 600px) {
    .flex-container-row {   
        flex-direction: column;
    }
}

