$background-color: #eeeeeee;
$primary-color: #000033;
$font-stack: "Arial";

html, body {
	// Font Style
	font: 100% $font-stack;
	.h1 {
		font-size:28px;
	}

	background-color: $background-color;

	.navbar-default {
		background-color: $primary-color;
		color: white;
		.nav-item {
			padding-left: 1vw;
			padding-right: 1vw;
		}
		.nav-link {
			color: white;
		}
	}

	h1 {
		text-align: center;
	}

	#bigRow {
		padding-left: 0vw;
		padding-right: 2vw;

		#searchBox {
			padding-top: 2vh;
		}
		.smallSearchResult {
		 	height: 10vh;
		 	border: ridge;
		 	cursor: pointer;
		 	background-color: white;
		 	&.selected {
    			color: white;
    			background-color: #999;
		 	}
			.resultContents {
				padding-left: 0.8vw;
				padding-right: 0.8vw;
				padding-top: 0.6vh;
				padding-bottom: 0.6vh;
				#resultTitle {
					font-weight: bold;
				}
			}	
		}
		.event-view {
		  height: 60vh;
		  overflow: hidden;
		  border: ridge;
		  background-color: #7FDBFF;
		  margin: 2vh 2em;
		  display: none;
			
			.event-result-title {
				font-size: 40px;
				color: white;
				text-align: center;
				font-weight: bold;
			}
			.event-result-info {
				width: 100%;
				font-size: 20px;
				color: white;
				margin: 1em 0.5em;
			}
		}
	}
}
