$background-color: #eeeeee;
$primary-color: #000033;
$font-stack: "Arial";

html, body {
	// Font Style
	font: 100% $font-stack;
	.h1 {
		font-size:28px;
	}

	background-color: $background-color;

	.navbar-default {
		background-color: $primary-color;
		color: white;
		.nav-item {
			padding-left: 1vw;
			padding-right: 1vw;
		}
		.nav-link {
			color: white;
		}
	}

	h1 {
		text-align: center;
	}

	#bigRow {
		padding-left: 0vw;
		padding-right: 0vw;
	}
}

.debug-data {
	color: red;
}

#searchBox {
	padding-top: 2vh;
	margin: 0vh 2vh;
}

.filters {
	margin: 0vh 2vh;
	
	label {
		font-size: 0.75em;
	}
	 
	input[type=text] {
		font-size: 0.65em;
	}
	
	.btn {
		line-height: 1;
		font-size: 0.75em;
	}
	
	.datetime {
		display: none;
	}
}


.smallSearchResult {
 	height: 13vh;
 	border: 1px solid $primary-color;
 	border-radius: 5px;
 	cursor: pointer;
 	margin: 0vh 2vh;
 	overflow: hidden;
 	background: rgba(0, 191, 255, 0.25);
 	&.selected {
		color: white;
		background-color: rgba(0, 191, 255, 0.54);
		&:hover {
			background-color: rgba(0, 191, 255, 0.44);
		}
 	}
 	&:hover {
 		background-color: rgba(0, 191, 255, 0.22);
 	}
	.resultContents {
		padding-left: 0.8vw;
		padding-right: 0.8vw;
		padding-top: 0.6vh;
		padding-bottom: 0.6vh;
		font-size: 0.75em;
		overflow: hidden;
			.resultTitle {
				font-weight: bold;
			}
			.resultLocation {
				font-size: 0.85em;
				color: rgba(0, 0, 0, 0.5);
			}
			.resultTime {
				font-size: 0.85em;
				color: rgba(0, 0, 0, 0.5);
				margin-bottom: 0.1em;
			}
	}	
}



.event-view {
  height: 80vh;
  min-width: 30vh;
  overflow: hidden;
  background-color: white;
  margin: 2vh 2vw;
  display: none;
	
	.event-result-title {
		font-family: serif;
		font-size: 40px;
		color: $primary-color;
		text-align: center;
		font-weight: bold;
	}
	.event-result-info {
		width: 100%;
		font-size: 20px;
		color: $primary-color;
		margin: 1em 0.5em;
	}
	img {
		float: right;
		width: 40%; 
		margin: 0em 1em;
		height: auto;
	}
}

.flex-container-row {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.flex-container-col {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.flex-container-scroll {
    flex-grow: 0;
    flex-shrink: 10000;
    flex-basis: auto;
    overflow: auto;
    	#searches {
    		min-width:12em;	
	}
}

#leftCol {
	flex: 30%;
    	float: left;
    	border-right: 5px solid black;
}
#rightCol {
	flex: 70%;
    	overflow: hidden;
    	float: left;
}

@media screen and (max-width: 600px) {
    .flex-container-row {   
        flex-direction: column;
    }
}



