{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
<body>

	<div class="col404"> 
		<h1 class="message"> About LampPost </h1>

		<p> <b> The Problem: </b> Despite no shortage of posters around campus, listserv emails, and Facebook events, events </p>

		<!--
		<p> Trying to make sense of all the events at Princeton and find those you are interested in can be overwhelming. There's no shortage of posters around campus, listserv emails, and facebook events; however, there's no centralized repository of all the events on campus, easily searchable by day or type. Publicizing events on campus can also be a logistical nightmare because of the all the different forms in which students are overloaded events. In creating Princeton Events, we aim to provide an easier way to both publicize and discover events at Princeton. </p> -->

	  	<b> The Team</b>

	  	<div class="container">
		  <div class="row" id="row1">
		  	<div class="col-md-2">
		      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/lmberg.jpg"> </img>
		      Lauren von Berg '20
		    </div>
		    <div class="col-md-2">
		      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/rbova.png"> </img>
		      Reilly Bova '20
		    </div>
		    <div class="col-md-2">
		      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/rrliu.jpg"> </img>
		      Robert Liu '20
		    </div>
		    <div class="col-md-2">
		      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/jneus.jpg"> </img>
		      Jack Neus '20
		    </div>
		    <div class="col-md-2">
		      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/tpollner.jpg"> </img>
		      Tristan Pollner '20
		    </div>
		  </div>
		  		</div>

	  	<div id="abtFoot">
			<p> LampPost is an application under development for COS 333, Spring 2018 </p>
		</div>
	</div>	

</body>
{% endblock %}