{% extends "base.html" %}



{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/addEvent.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<script>

	// code for the date
	$(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
      	format: 'mm/dd/yyyy',
      	container: container,
      	todayHighlight: true,
      	autoclose: true,
      };
      date_input.datepicker(options);
  	})

	// where we don't have a textarea, ignore the enter key (don't let users submit)
	$(document).on("keypress", ":input:not(textarea)", function(event) {
    return event.keyCode != 13;
	});
</script>

<script> 

</script>	

<script> 

	var currentNumShowing = 1;
	var maxShowings = 4;

	// add numbers to first showing (e.g. "Location" -> "Location 1")
	function numberFirstShowing() {
		$("#firstLocation").text("Location 1");
		$("#firstDate1").text("Start Date 1");
		$("#firstDate2").text("End Date 1");
		$("#firstTime1").text("Start Time 1");
		$("#firstTime2").text("End Time 1");
	}

	// remove numbers from first showing (e.g. "Location 1" -> "Location")
	function unNumberFirstShowing() {
		$("#firstLocation").text("Location");
		$("#firstDate1").text("Start Date");
		$("#firstDate2").text("End Date");
		$("#firstTime1").text("Start Time");
		$("#firstTime2").text("End Time");
	}

	function processClick( num ) {
		// this is a special case, because we need to introduce numbering
		if (currentNumShowing == 1) {
			numberFirstShowing();
		}
		// another special case, because then we need we need to remove numbering
		if (num == 1) {
			unNumberFirstShowing();
		}


		// remove the bigger ones instantly
		for (i = num + 1; i <= maxShowings; i++) {
			$("#form-row-" + i.toString()).slideUp("slow");
		}
		// slide down relevant ones
		for (i = currentNumShowing + 1; i <= num; i++) {
			$("#form-row-" + i.toString()).slideDown("slow");
		}
		// change currentNumShowing
		currentNumShowing = num;
	}

	$(document).ready(function(){
		$('.nav-item').removeClass('active');

		// make the forms visible
		$("#form-row-2").removeClass("invisible");
		$("#form-row-3").removeClass("invisible");
		$("#form-row-4").removeClass("invisible");

		// slide these forms (which are currently invisible) up, to make
		// compatible with the slideDown's needed later
		$("#form-row-2").slideUp(0);
		$("#form-row-3").slideUp(0);
		$("#form-row-4").slideUp(0);

		
		// when we click the circle for x showings, slide up all the forms instantly
		// then, slide down the relevant ones slowly
		$("#inlineRadio1").click(function() {
			processClick(1);
		});

		$("#inlineRadio2").click(function() {
			processClick(2);
		});

		$("#inlineRadio3").click(function() {
			processClick(3);
		});

		$("#inlineRadio4").click(function() {
			processClick(4);
		});
	});

	function setNavBar() {
		document.getElementById("navBarAddEvent").classList.add("active");
	}

</script>

<body onload="setNavBar()">

	<div class="row" id = "bigRowAddEvent">
		<div class="col-md-3" id = "leftCol">

		</div>
		<div class="col-md-7" id = "leftCol">
			<h3 > Add your event by filling out the fields below. </h3>

			<form id="addEventForm" action="/addEvent" method="POST">
				<div class="form-group">
					<label for="title" > Title </label>
					<input type="text" name="title" class="form-control" id="titleInput" placeholder="The name of your event.">

				</div>
				<div class="form-group">
					<label for="description"> Description </label>
					<textarea name="description" class="form-control" id="descriptionInput" rows="3" placeholder="A brief description of your event, and why people should come!"></textarea>
				</div>

				<div class="form-group">
					<label style="padding-right:1vw">  Number of showings: </label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" checked="checked" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1" style="font-weight:normal">1</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" >
						<label class="form-check-label" for="inlineRadio2" style="font-weight:normal">2</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3" style="font-weight:normal">3</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3" >
						<label class="form-check-label" for="inlineRadio4" style="font-weight:normal">4</label>
					</div>
					<small id="fileHelp" class="form-text text-muted"> Most events will have only one showing. If, however, a performance is being offered multiple times, fill out location/time details for each showing!</small>
				</div>
				<div class="form-row" id="form-row-1">
					<div class="form-group col-md-4">
						<label id = "firstLocation"> Location</label>
						<input name = "location" type="text" class="form-control">
					</div>
					<div class="form-group col-md-2">
						<label id="firstDate1" > Start Date </label>
						<input name="date" class="form-control" type="text">
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip" id="firstTime1"> Start Time </label>
						<input name="time" type="time" class="form-control">
					</div>
					<div class="form-group col-md-2">
						<label id = "firstDate2"> End Date </label>
						<input name="date" class="form-control" type="text">
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip" id="firstTime2"> End Time </label>
						<input name="time" type="time" class="form-control">
					</div>
				</div>
				<div class="form-row invisible" id="form-row-2">
					<div class="form-group col-md-4">
						<label> Location 2</label>
						<input type="text" class="form-control" name="location">
					</div>
					<div class="form-group col-md-2">
						<label> Start Date 2 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label> Start Time 2 </label>
						<input type="time" class="form-control" name="time">
					</div>
					<div class="form-group col-md-2">
						<label> End Date 2 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip"> End Time 2</label>
						<input type="time" class="form-control" name="time">
					</div>
				</div>
				<div class="form-row invisible" id="form-row-3">
					<div class="form-group col-md-4">
						<label> Location 3</label>
						<input type="text" class="form-control" name="location">
					</div>
					<div class="form-group col-md-2">
						<label> Start Date 3 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label> Start Time 3 </label>
						<input type="time" class="form-control" name="time">
					</div>
					<div class="form-group col-md-2">
						<label> End Date 3 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip"> End Time 3</label>
						<input type="time" class="form-control" name="time">
					</div>
				</div>
				<div class="form-row invisible" id="form-row-4">
					<div class="form-group col-md-4">
						<label> Location 4</label>
						<input type="text" class="form-control" name="location">
					</div>
					<div class="form-group col-md-2">
						<label> Start Date 4 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label> Start Time 4 </label>
						<input type="time" class="form-control" name="time">
					</div>
					<div class="form-group col-md-2">
						<label> End Date 4 </label>
						<input class="form-control" name="date" type="text">
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip"> End Time 4</label>
						<input type="time" class="form-control" name="time">
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputFile"> Event Photo/Poster </label>
					<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
					<small id="fileHelp" class="form-text text-muted"> Including a poster is optional, but strongly recommended.</small>
				</div>

				<div class="form-group">
					<label for="link"> Promo Video </label>
					<input name="link" type="text" class="form-control" id="linkInput" placeholder="YouTube link to your video, if applicable.">

				</div>

				<button type="submit" class="btn btn-primary">Submit!</button>
			</form>

		</div>
		<div class="col-md-3" id = "leftCol">

		</div>

	</body>
	{% endblock %}
