{% extends "base.html" %}

<!-- SCRIPTS -->

{% block scripts %}
<script src="/static/js/displaySearches.js?v=44"></script>
<script src="/static/js/displayEvent.js?v=5"></script>
<script src="/static/js/createEventHtml.js?v=4"></script>
<script src="/static/js/app.js?v=13"></script>
<script>
setBaseUrl("{{ config.BASE_URL }}");
</script>

{% if data %}
<script>
setData(JSON.parse('{{ data | tojson | safe}}'));
$("#global-debug-msg").text("Page initialized with mock data. Search box will return actual data.");
</script>
{% endif %}

{% endblock %}

<!-- MAIN CONTENT -->
{% block content %}
<div class="container-fluid">
  	<div class="flex-container-row" id="bigRow">
  	
	   <div class="flex-container-col" id = "leftCol">
   		<form onsubmit="return false;">
   			<div class="d-flex flex-row align-items-start">
				<div class="form-group" id="searchBox">
			    		<input id="search-box" class="form-control" 
			    		placeholder="Search for events here!" value=""></input>
				</div>
			
				<select class="ml-auto align-self-stretch" name="sort" id="searchSort">
					<option value="Date">Sort By Date</option>
					<option value="Popularity">Sort By Popularity</option>
				</select>
			</div>
			
			<div class="d-flex flex-row align-items-start justify-content-end filters">
			  <div class="p-2 mr-auto datetime">
				  <label for="datepicker">Search from date: </label>
				  <input type="text" id="datepicker" 
					   class="form-control" name="datepicker">
			  </div>
			  <div class="filter-button btn"  id="filter-btn" title="Filter">
				  <i class="fas fa-filter"></i>
			  </div>
			 </div>
		
		</form>
		
			
		<!-- Fills in with "search" results from events.json -->
		<div class="flex-item-scroll" id="searches"></div>
		
	  	</div>
		
	 	<div class="flex-container-col" id = "rightCol"> 
	 		<div class = "event-view" id = "event-view"> 
		   		<p class="event-result-title" id = "eventTitle"></p>
		   		<div class = "event-result-info">
		   			<div id="eventPhoto"> </div>
		   			<p id="eventLocation"> </p>
		   			<p id="eventDescription"> </p>
		   			<p id="eventHost"> </p>
		   			<p id="eventTime"> </p>
		   			<p id="eventLikes"> </p>
		   		</div>
			</div>
		</div>	
	</div>
</div>
{% endblock %}

<!-- SPLASH PAGE -->

{% block splashScreen %}
<div class="splashScreen" id="splashScreen">
	<div class="headerBox">
		<div class="loginBox">
			<h1 class="lamppostTitle">lampPost - search for events</h1>
			<a class="homeLink btn btn-primary btn-lg" href="/login">Login</a>
			<p></p>
			<a class="homeLink btn btn-primary btn-lg" href="#">Continue as Guest</a>
		</div>
	</div>
</div>
{% endblock %}

<!-- NAVBAR -->

{% block navbar %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-inverse">
<a class="navbar-brand" href="#">
  <img src = "../../static/graphics/logoNavBar.svg" class="image-fluid logo">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" 
	  aria-controls="#navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarToggle">
  <ul class="navbar-nav ml-auto mt-2 mt-md-0">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <!-- For the future: Home Search Add MyCal About Help Login -->
    <li class="nav-item">
      <a class="nav-link" href="/browser">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myevents">My Events</a>
    </li>
    </li>
    <li class="nav-item">
      {% if current_user.is_authenticated %}
      <a class="nav-link" href="/logout"> Logout ({{current_user.netid}}) </a>
      {% else %}
       <a class="nav-link" href="/login"> Login </a>
      {% endif %}
    </li>
  </ul>
</div>
</nav>
<!-- Active link -->
<script>
// On click (for immediate response before page load)
$(".navbar-nav .nav-item").on("click", function(){
  $(".navbar-nav").find(".active").removeClass("active");
  $(this).addClass("active");
});
// On page load (for longterm highlight)
$(document).ready(function(){
  var pathname = window.location.pathname;
  $("a[href=\\" + pathname + "]").addClass('active');
});
</script>
{% endblock %}

<!-- JINJA VARIABLES -->
{% block user_data %}
<meta id="userData" data-uid="{{current_user.uid}}" data-netid="{{current_user.netid}}"
	data-favorites="{{current_user.favorites}}">
{% endblock %}
