{% extends "base.html" %}
{% set no_scroll = True %}

<!--****************************** SCRIPTS **********************************-->

{% block scripts %}
<script src="/static/js/app.js?v=1"></script>
<script src="/static/js/handleUrlParam.js?v=0"></script>
<script src="/static/js/handleFavorites.js?v=0"></script>
<script src="/static/js/calendarView.js?v=0"></script>
<script>
setBaseUrl("{{ config.BASE_URL }}");
</script>

{% if data %}
<script>
setData(JSON.parse('{{ data | tojson | safe}}'));
$("#global-debug-msg").text("Page initialized with mock data. Search box will return actual data.");
</script>
{% endif %}

{% endblock %}


<!--***************************** MAIN CONTENT ******************************-->
{% block content %}
<div class="container-fluid">
<div class="flex-container-row list-view" id="bigRow">
   <div class="flex-container-col" id="leftCol">
   		<form class="search-container" onsubmit="return false;">
   			<div class="" id="searchRow">
				<div class="form-group searchBoxCol" id="searchBox">
			    		<input id="search-box" class="form-control"
			    		placeholder="Search for events here!" value=""></input>
				</div>
				<div class="calendar-view-button btn" id="calendarViewBtn" data-toggle="tooltip" title="Calendar View">
					<i class="fas fa-calendar"></i>
				</div>
			</div>
			<div class="flex-row searchButtons align-items-start justify-content-between flex-wrap">
				<div class="filter-button btn" id="filter-btn" title="Filter">
				  <i class="fas fa-filter"></i>
			  	</div>
			  	<div class="ml-auto d-flex flex-nowrap align-items-start sort-box">
			  		{% include "web/sortbox.html" %}
				</div>
			</div>

			<div class="filters flex-col" style="display:none;">
				<div class="date-filter datetime d-flex flex-row flex-nowrap align-items-center justify-content-center">
					<span for="datepicker">Search from date: </span>
					<input type="text" id="datepicker" class="form-control" name="datepicker">
				</div>
				<div id="all-events">
					<button type="button" id="all-events-filter-btn" class="btn filter-btn">Show All Events (*)</button>
				</div>
          		{% if current_user.is_authenticated %}
				<div id="favorite-events">
					<button type="button" id="favorite-events-filter-btn" class="btn filter-btn">My Favorites</button>
				</div>
				{% endif %}
			 </div>

		</form>

		<!-- Fills in with both search results, and trending events. -->

		<div class="flex-container-scroll searches-wrapper" id="searches-wrapper">
			<div class="calendarBtns" id="calendarBtns">
				<div class="previousWeekBtn btn" id="previousWeekBtn" data-toggle="tooltip" title="Previous Week">
						<i class="fas fa-arrow-left"></i>
				</div>
				<div class="nextWeekBtn btn" id="nextWeekBtn" data-toggle="tooltip" title="Next Week">
						<i class="fas fa-arrow-right"></i>
				</div>
			</div>
			<div id="trendingLabel"> Trending Events </div>
			<div id="searches">
            	<div class="searchPost"></div>
        	</div>

			<div class="fa fa-spinner fa-spin hidden centered" id="loading-spinner"></div>
        </div>

  	</div>

 	<div class="flex-container-col" id = "rightCol">
 		<div id="welcomeDiv" style="display:none">
 			<div id = "interiorWelcomeDiv">
	 			<h1 id = "welcomeMessage"> Welcome to lampPost! </h1>

				  <div class="row">
				    <div class="col-md-6">
	 					<p class = "welcomeText" > Get started by:
	 					<ul class="welcomeText">
	 						<li> <a class="keyword"> Browsing </a> through trending events on the left! </li>
	 						<li> <a class="keyword"> Searching </a> for events by keyword/date/location. </li>
	 						<li> <a class="keyword"> Exporting </a> your favorites to Google Calendar. </li>
	 						<li> <a class="keyword"> Adding </a> your own event! </li>
	 					</ul>
	 					</p>
	 				</div>
				    <div class="col-md-6">
				      <img class="img-fluid fit" id="welcome" src="../../static/graphics/images/lamppostMeme.png">
				    </div>
				  </div>
	 		</div>
 		</div>
 		{% include "web/eventview.html" %}
	</div>
</div>
</div>
{% endblock %}
