{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/displaySearches.js?v=1"></script>
<script src="/static/js/displayEvent.js?v=1"></script>
<script src="/static/js/app.js?v=1"></script>
<script>
base_url = "{{ request.url_root }}";
</script>

{% if data %}
<script>
setData(JSON.parse('{{ data | tojson | safe}}'));
$("#global-debug-msg").text("Page initialized with mock data. Search box will return actual data.");
</script>
{% endif %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  	<div class="flex-container-row" id = "bigRow">
  	
	   <div class="flex-container-col" id = "leftCol">
	   		<form onsubmit="return false;">
	   			<div class="d-flex flex-row align-items-start">
					<div class="form-group" id="searchBox">
				    		<input id="search-box" class="form-control" 
				    		placeholder="Search for events here!" value=""></input>
					</div>
				
						<select class="ml-auto align-self-stretch" name="sort" id="searchSort">
							<option value="Date">Sort By Date</option>
							<option value="Popularity">Sort By Popularity</option>
						</select>
				</div>
				
				<div class="d-flex flex-row align-items-start justify-content-end filters">
				  <div class="p-2 mr-auto datetime">
					  <label for="datepicker">Search from date: </label>
					  <input type="text" id="datepicker" 
						   class="form-control" name="datepicker">
				  </div>
				  <div class="filter-button btn"  id="filter-btn" title="Filter">
					  <i class="fas fa-filter"></i>
				  </div>
				 </div>
			
			</form>
			
				
			<!-- Fills in with "search" results from events.json -->
			<div class="flex-item-scroll" id="searches"></div>
		
	  	</div>
		
	 	<div class="flex-container-col" id = "rightCol"> 
	 		<div class = "event-view" id = "event-view"> 
		   		<p class="event-result-title" id = "eventTitle"></p>
		   		<div class = "event-result-info">
		   			<div id="eventPhoto"> </div>
		   			<p id="eventLocation"> </p>
		   			<p id="eventDescription"> </p>
		   			<p id="eventHost"> </p>
		   			<p id="eventTime"> </p>
		   			<p id="eventLikes"> </p>
		   		</div>
			</div>
		</div>	
	</div>
</div>
{% endblock %}
