<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<script>
// get data from events.json
// probably not the best way to do this
function processData() {
	data = JSON.parse('{{ data | tojson | safe}}');
	searches = "";
	for (var i = 0; i < data.length; i++) {
		searches += "<div class=\"smallSearchResult\" id=\"smallSearchResult" + (i + 1) + "\">";
		searches += "\n" + "<div class=\"resultContents\">";
		searches += "\n" + "<p id=\"resultTitle" + (i + 1) + "\">" + data[i].title + "</p>";
		searches += "\n" + "</div>" + "\n" + "</div>" + "\n";
	}
	document.getElementById("searches").innerHTML = searches;
	$(".smallSearchResult").show();
}
// set information for event results panel
function setValues(num) {
	document.getElementById("eventTitle").innerHTML = data[num].title;
	document.getElementById("eventLocation").innerHTML = "Location: " + data[num].location;
	document.getElementById("eventGroup").innerHTML = "Group: " + data[num].group;
	document.getElementById("eventTime").innerHTML = "Time: " + data[num].time;
	document.getElementById("eventLikes").innerHTML = "Likes: " + data[num].likes;
	if (data[num].photo) {
		document.getElementById("eventPhoto").innerHTML = "<img src=\"" + data[num].photo + "\">";
	}
	else document.getElementById("eventPhoto").innerHTML = "";
}

function getNum(searchId) {
	return searchId.split("smallSearchResult").pop();
}

// don't run jQuery until page is loaded
$(document).ready(function(){
    $(".smallSearchResult").click( function(){
    	$(".smallSearchResult").css({"backgroundColor":"white"});
    	$(".smallSearchResult").css({"color":"black"});
    	$(this).css({"backgroundColor":"#555555"});
    	$(this).css({"color":"white"});
		$(".event-view").hide();
		setValues(getNum( $(this).attr("id")) - 1);
		$("#event-view").show();
	});
});


</script>

<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/static/css/style.css?v=2">
	<title>LampPost</title>

</head>
<body>
	<!-- A grey horizontal navbar that becomes vertical on small screens -->
	<nav class="navbar navbar-expand-sm navbar-default">

  			<span class="mr-auto navbar-brand mb-0 h1"> 
  				LampPost 
  			</span>

  			<ul class="navbar-nav"> 

		  		<li class="nav-item">
					<a class="nav-link" href="#"> Add an Event! </a>
		    		</li>
		    		<li class="nav-item">
						<a class="nav-link" href="#"> About </a>
		    		</li>
		    		<li class="nav-item">
						<a class="nav-link" href="#"> Help </a>
		    		</li>
		    	</ul>
	</nav>

	<div class="container-fluid">
	  	<div class="row" id = "bigRow">

			   <div class="col-md-4" id = "leftCol">

			   		<form>
						<div class="form-group" id="searchBox">
					    	<input class="form-control" placeholder="Search for events here!"> </input>
						</div>
					</form>

				
					<!-- Fills in with "search" results from events.json -->
					<div id="searches"></div>
			    	
			    	</div>

				<!-- Fills in with event data from events.json -->
			 	<div class="col-md-8" id = "rightCol"> 
			 		<div class = "event-view" id = "event-view"> 
				   		<p class="event-result-title" id = "eventTitle"></p>
				   		<div class = "event-result-info">
				   			<div id="eventPhoto"></div>
				   			<p id="eventLocation"></p>
				   			<p id="eventGroup"></p>
				   			<p id="eventTime"></p>
				   			<p id="eventLikes"></p>
				   		</div>
					</div>
				</div>
				
				<!-- Update page with data from events.json -->
				{% if data %}
					<script> processData();
					</script>
				{% endif %}

		</div>
	</div>
</body>

</html>
