<div class = "event-view" id = "event-view">
    <div class="event-view-header" id="event-view-header">
        <div class="flex-container-col">
            <div class="d-flex flex-row align-items-start" id="mainHeaderLine">
                <h1 class="event-view-title" id="eventTitle"></h1>
                <div class="eventFireBtn btn ml-auto" title="Favorite" id="eventFireBtn">
                    <i class="fas fa-fire"></i>
                </div>
                <p class="eventFireNum" id="eventFireNum"></p>
            </div>
            <p class="event-view-host mr-auto" id="eventHost"></p>
            <div class="d-flex flex-row align-items-end">
    	   		<h3 class="event-view-subtitle mr-auto" id="eventSubtitle"></h3>
                <a id="reportBtn" class="reportBtn" data-toggle="modal" data-target="#myModal" onclick="setTitle(selected_title)" title="Report event">
                    <i class="fas fa-flag danger-button"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="event-view-info">
        <div class="d-inline-flex p-2">
            <h2 class="eventSection">Description</h2>
        </div>
        <div class="d-inline-flex p-2">
            <p id="eventDescription"></p>
    	</div>
        <div id="eventPhoto"></div>
    </div>
</div>

{% if wasError %}
 <a style="display:none" id="wasError"> </a>
{% endif %}

{% if formR %}
    <div id="myModal" class="modal fade" role="dialog" style="padding-top:25vh">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:50vw">
          <div class="modal-header">
            <h4 class="modal-title" > Report <a id="reportPopupTitle" style="font-weight:bold"> </a>?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

        <form id="reportForm"  method="POST" role="form" enctype="multipart/form-data">
            {{ formR.csrf_token }}
            <!-- Hidden event id, populated by jquery -->
            {{ formR.event_id(class="hidden") }}

          <div class="modal-body">
            <p> We take event maintenance seriously, and appreciate you taking the time to submit a report. Choose the issue below, and optionally also provide a description. </p>


                <div class="form-group">
                    {{ formR.category.label(style="padding-right:1vw", class="req") }}
                    {% for subfield in formR.category %}
                        <div class="form-check form-check-inline">
                            {{ subfield(class="form-check-input") }}
                            {{ subfield.label(style="font-weight:normal", class="form-check-label") }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ formR.description.label() }}
                    {{ formR.description(placeholder="Optionally, include details about why this event should be removed.", class="form-control", rows="4", maxlength="3000") }}
                </div>


          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary submitAddButton">Submit!</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>

        </div>

      </div>
    </div>
{% endif %}
