<div class = "event-view" id = "event-view">
	<div class="event-view-header" id="event-view-header">
	    <div class="flex-container-col">
		  <div class="d-flex flex-row align-items-start" id="mainHeaderLine">
		      <h1 class="event-view-title mr-auto" id="eventTitle"></h1>
		  </div>
		  <div class="d-flex flex-row align-items-start">
	   		<h3 class="event-view-subtitle mr-auto" id="eventSubtitle"></h3>
		      <p class="event-view-host" id="eventHost"></p>
		  </div>
	    </div>
	</div>
      <div class="event-view-info">
	    <div class="d-inline-flex p-2">
		  <h2 class="eventSection">Description</h2>
	    </div>
	    <div class="d-inline-flex p-2">
		  <p id="eventDescription"></p>
	    </div>
	    <div id="eventPhoto"></div>
	</div>
</div>
