<div class = "event-view" id = "event-view">
    <div class="event-view-header" id="event-view-header">
        <div class="flex-container-col">
            <div class="d-flex flex-row align-items-start" id="mainHeaderLine">
                <div class="flex-container-row" id = "titleRow">
                    <h1 class="event-view-title" id="eventTitle"></h1>
                </div>
                <div class="eventFireBtn btn ml-auto" title="Favorite" id="eventFireBtn" data-toggle="tooltip">
                    <i class="fas fa-fire"></i>
                </div>
                <p class="eventFireNum" id="eventFireNum"></p>
            </div>
            <div class="d-flex flex-row align-items-end">
                <h3 class="event-view-subtitle mr-auto" id="eventHost"></h3>
                {% if current_user.is_authenticated %}
                <span data-toggle="modal" data-target="#myModal">
                    <a id="reportBtn" class="reportBtn" data-toggle="tooltip" onclick="setTitle(selected_title)" title="Report this event">
                        <i class="fas fa-flag danger-button"></i>
                    </a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row align-items-start">
        <div class="event-view-info" id="event-view-info">
            <div class="flex-container-col event-wrapper">
                <div id="bannerImage"></div>
                <div class="flex-container-col">
                    <div class="d-inline-flex p-2 event-view-box">
                        <h2 class="eventSection">When / Where</h2>
                    </div>
                    <div class="d-inline-flex p-2 event-view-box">
                        <p class="event-view-data" id="eventSetting"></p>
            	    </div>
                </div>
                <div>
                    <div class="d-inline-flex p-2 event-view-box">
                        <h2 class="eventSection">Description</h2>
                    </div>
                    <div class="d-inline-flex p-2 event-view-box">
                        <p class="event-view-data" id="eventDescription"></p>
            	    </div>
                </div>
                <div id="eventVideo">
                    <div class="d-inline-flex p-2 event-view-box">
                        <h2 class="eventSection">Trailer</h2>
                    </div>
                    <div class="video-responsive" id="eventVideo-data"></div>
                </div>
                <div class="otherImage" id="otherImage"></div>
            </div>
        </div>
        <div class="posterImage" id="posterImage"></div>
    </div>
</div>

{% if wasError %}
 <a class="align-it style="display:none" id="wasError"> </a>
{% endif %}
