{% extends "base.html" %}

<!-- SCRIPTS -->

{% block scripts %}
<link rel="stylesheet" type="text/css" href="/static/css/add.css">
<script src="/static/js/myevent.js?v=0"></script>
<script src="/static/js/handleUrlParam.js?v=0"></script>
<script src="/static/js/handleFavorites.js?v=0"></script>
<script>
setBaseUrl("{{ config.BASE_URL }}");
</script>
{% endblock %}

<!--*************************** MAIN CONTENT *****************************-->
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/myevents.css">


<div class="container-fluid">
  	<div class="flex-container-row" id="bigRow">
  	
	   <div class="flex-container-col" id = "leftCol">
	   
	   	<h1 style="text-align:center; padding-top:1vh">My Events</h1>
	   	
	   	<!-- Sort by date or popularity -->
		<div class="d-flex flex-row align-items-start">
			<select class="p-2 ml-auto" name="sort" id="searchSort">
				<option value="Date">Sort By Date</option>
				<option value="Popularity">Sort By Popularity</option>
			</select>
		</div>
			
		<!-- Fills in with "search" results from events.json -->
		<div class="flex-container-scroll" id="searches"></div>
	    </div>
		
	 	<div class="flex-container-col" id = "rightCol">
 			{% include "web/eventview.html" %}
			
			<!-- TODO: this element is not really necessary, only referenced
			in displayEvent.js so maybe we should fix at some point, but not a 
			priority right now -->
			<div id="welcome" ></div>

			<!-- Hacky, but I can't think of a better way. 
			If this element exists, then we will force the form to display with jQuery. -->
			{% if display %}
				<a id="displayEventForm"> </a>
			{% endif %}

			<!-- Same deal. If this exists, the form will have this number of rows. -->
			{% if numRows %}
				<a id="numRowsEventForm" style="display:none"> {{ numRows }} </a>
			{% endif %}


			<div class = "event-form eventFormView" id = "event-form" style="display:none">
					<h2 style="text-align:center"> Edit your event by changing the fields below. </h2>

					<form id="addEventForm" action="/myevents" method="POST" role="form" enctype="multipart/form-data">
						{{ form.csrf_token }}

			            <!-- Hidden event id, populated by jquery -->
			            {{ form.event_id(class="hidden") }}
			            
						<div class="form-group">
							{{ form.title.label(class="req") }} 
							{{ form.title(class="form-control", maxlength="100") }}
						</div>
						<div class="form-group">
							{{ form.description.label(class="req") }} 
							{{ form.description(class="form-control", rows="4", maxlength="3000") }}
						</div>

						<div class="form-group">
							{{ form.host.label(class="req") }} 
							{{ form.host(class="form-control", maxlength="100") }}
						</div>

						<div class="form-group">
							{{ form.visibility.label(style="padding-right:1vw", class="req") }}
							{% for subfield in form.visibility %}
		    					<div class="form-check form-check-inline">
			        				{{ subfield(class="form-check-input") }}
			        				{{ subfield.label(style="font-weight:normal", class="form-check-label") }}
			        			</div>
							{% endfor %}
							<small id="fileHelp" class="form-text text-muted"> If you indicate the audience as "Princeton students", the event will only be visible to CAS-authenticated users. Otherwise, the general public can view it. </small>
						</div>

						<div class="form-group">
							{{ form.numShowings.label(style="padding-right:1vw", class="req") }}
							{% for subfield in form.numShowings %}
		    					<div class="form-check form-check-inline">
			        				{{ subfield(class="form-check-input") }}
			        				{{ subfield.label(style="font-weight:normal", class="form-check-label") }}
			        			</div>
							{% endfor %}
							<small id="fileHelp" class="form-text text-muted"> Most events will have only one showing. If, however, a performance is being offered multiple times, fill out location/time details for each showing!</small>
						</div>

						{% for i in range(form.locations.__len__()) %}
							<div class="form-row" id="form-row-{{i+1}}"> 
								<div class="form-group col-md-4">
		        					{{ form.locations.__getitem__(i).label(class="numbered req") }}
		        					{{ form.locations.__getitem__(i)(class="form-control", maxlength="100") }}
		        				</div>

		        				<div class="form-group col-md-2">
									{{ form.startDates.__getitem__(i).label(class="numbered req") }}
									{{ form.startDates.__getitem__(i)(class="form-control") }}
								</div>
								<div class="form-group col-md-2">
									{{ form.startTimes.__getitem__(i).label(class="numbered req") }} 
									{{ form.startTimes.__getitem__(i)(class="form-control") }}
								</div>
								<div class="form-group col-md-2">
									{{ form.endDates.__getitem__(i).label(class="numbered req") }}
									{{ form.endDates.__getitem__(i)(class="form-control") }}
								</div>
								<div class="form-group col-md-2">
									{{ form.endTimes.__getitem__(i).label(class="numbered req") }}
									{{ form.endTimes.__getitem__(i)(class="form-control") }}
								</div>
		        			</div>
		    			{% endfor %}

						<div class="form-group">
							{{ form.poster.label }}
							<div id="current-poster" class="hidden">
								<span>
									<a id="poster-link" target="_blank" href="">Current Poster</a>
									<i id="delete-poster-button" class="fas fa-times-circle delete-button delete-poster-button" title="Remove poster"></i>
								</span>
								{{ form.deletePoster(class="hidden") }}
							</div>
							{{ form.poster(class="form-control-file") }}
							<small id="fileHelp" class="form-text text-muted"> Including a poster is optional, but strongly recommended.</small>
						</div>

						<div class="form-group">
							{{ form.link.label }} 
							{{ form.link(placeholder="Youtube link to your video, if applicable", class="form-control", maxlength="100") }}
						</div>

						<button type="submit" class="btn btn-primary">Submit!</button>



						<div class="errors" style="text-align:center; color:red">
							{% for i in errors %}
								{{ i.capitalize() }}: {{errors[i][0]}} <br />
							{% endfor %}
						</div>


					</form>				
			</div>

			<!-- So the footer doesn't cover key areas -->
			<div id="emptyBottomSpace"> </div>

		</div>	
	</div>
</div>


{% endblock %}
