<div class="select-style">
  	<select name="sort" id="searchSort">
		<option value="Date">Sort By Date</option>
		<option value="Popularity">Sort By Popularity</option>
	</select>
</div>
<div class="sort-direction">
	<div id="sort-direction-btn-up" class="sort-direction-btn hidden" data-toggle="tooltip" title="Sort ascending">
		<i class="fas fa-arrow-up"></i>
	</div>
	<div id="sort-direction-btn-down" class="sort-direction-btn" data-toggle="tooltip" title="Sort descending">
		<i class="fas fa-arrow-down"></i>
	</div>
</div>
