{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="/static/css/splashpage.css?v=1">
{% endblock %}

<!--****************************** SPLASH PAGE ******************************-->
{% block content %}
<div class="splashScreen" id="splashScreen">
	<div class="headerBox">
		<div class="loginBox">
          <!-- TODO: Delete when splash page is fixed by Lauren -->
			<h1 class="lamppostTitle" style="color: white; text-shadow: 2px 2px #000000;">lampPost - search for events</h1>
			<a class="homeLink btn btn-primary btn-lg" href="/login">Login</a>
			<p></p>
			<a class="homeLink btn btn-primary btn-lg" href="/browser">Continue as Guest</a>
		</div>
	</div>
</div>

{% endblock %}
