{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="/static/css/splashpage.css?v=1">
{% endblock %}

<!--****************************** SPLASH PAGE ******************************-->
{% block content %}
<div class="splashScreen" id="splashScreen">
	<div class="headerBox">
		<div class="loginBox">
			<h1 class="lamppostTitle">lampPost: Events@Princeton</h1>
			<a class="homeLink btn btn-primary btn-lg" href="/login">Login</a>
			<p></p>
			<a class="homeLink btn btn-primary btn-lg" href="/welcome?proceed">Continue as Guest</a>
		</div>
	</div>
</div>

{% endblock %}
