/* rgb values for primary-color */
html .logo, body .logo {
  width: 200px;
}
html .navbar-expand-md, body .navbar-expand-md {
  background-color: #2d9eee;
}
html .nav-link, body .nav-link {
  font-family: "Avenir-Medium", "Arial-Medium";
  font-size: 24px;
}
html .dropdown-content, body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #2d9eee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 6;
}
html #bigRow, body #bigRow {
  padding-left: 0vw;
  padding-right: 0vw;
  margin-bottom: 2vh;
}
