h1 {
    text-align: center;
}

html, body
{
    height: 100%;
}

#resultTitle {
	font-weight: bold;
}

.container-fluid {
	padding-left: 6vw;
	padding-right: 6vw;
}

#site-description {
	text-align: center;
	color: #ee7622;
}

.smallSearchResult {
  height: 10vh;
  border: ridge;
}

.eventView {
  height: 80vh;
  overflow: scroll;
  text-align: center;
}

#eventView1 {
	display: none;
}

#eventView2 {
	display: none;
}

body {
	background-color: #deadbe;
}

