h1 {
    text-align: center;
}

html, body
{
    height: 100%;
}

.container-fluid {
	padding-left: 8vh;
	padding-right: 8vh;
}

#site-description {
	text-align: center;
	color: #ee7622;
}

#resultView {
  height: 7vh;
  border: ridge;
  text-align: center;
}

#eventView {
  height: 90vh;
  overflow: scroll;
  text-align: center;
}

body {
	background-color: #deadbe;
}

