h1 {
    text-align: center;
}

html, body
{
    height: 100%;
    background-color:#eeeeee;
}

#resultTitle {
	font-weight: bold;
}

#lampPost {
	font-family: "Arial";
	text-align: center;
	font-weight: bold
}

#bigRow {
	padding-left: 0vw;
	padding-right: 2vw;
}

#searchBox {
	padding-top: 2vh;
}

img {
	float: right;
	width: 40%; 
	margin: 0em 1em;
	height: auto;
}

.smallSearchResult {
  height: 10vh;
  border: ridge;
  cursor: pointer;
  overflow: hidden;
  background-color:white;
}

.eventView {
  height: 60vh;
  overflow: hidden;
  border: ridge;
  background-color: #7FDBFF;
  margin: 2vh 2em;
  display: none;
}

.event-result-title {
	font-size: 40px;
	color: white;
	text-align: center;
	font-weight: bold;
}
.event-result-info {
	width: 100%;
	font-size: 20px;
	color: white;
	margin: 1em 0.5em;
}

.h1 {
	font-size:28px;
}

.navbar-default {
	background-color:#000033;
	color: white;
}

.nav-item {
	padding-left: 1vw;
	padding-right: 1vw;
}
.nav-link {
	color: white;
}

.menuTitle {
	font:;
}

.resultContents {
	padding-left:0.8vw;
	padding-right:0.8vw;
	padding-top:0.6vh;
	padding-bottom:0.6vh;
}

body {

}

