{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css?v=7">
<div class="colAbt">
	<h1 class="message"> 404 Error | Page Not Found </h1>
  	<div class="col textBox" style="margin-left: 0; margin-right: 0; text-align: center;">
		We can't find the page you're looking for! Perhaps you should try <a href="/login"> logging in </a>
	  		or <a href="/browse"> browsing events</a>.
	</div>
	<img class="img-fluid fit" id="broken" src="../../static/graphics/images/broken8.jpeg">
</div>

{% endblock %}
