{% macro render_field(field, disabled = false, char_limit = None) %}
  <div class="form-elt {% if field.errors %}error{% endif %}">
    {% if field.type == "TextAreaField" %}
      <h6>{{ field.label }}</h6>
      {{ field(placeholder = field.description, maxlength = field.max, disabled = disabled) }}
      {% if char_limit != None %}
        <p class="count" id="{{ field.name }}">Characters left: {{ char_limit }}</p>
      {% endif %}
    {% else %}
      {{ field(placeholder = field.description, disabled = disabled) }}
    {% endif %}
    {% if field.errors %}
      <p class="error-msg">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}

<!DOCTYPE html>

<html>
  <head>
    <title>LampPost</title>
    
    {% block css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    {% block header %}{% endblock %}
  </head>

  <body>  <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm navbar-default">
      <span class="mr-auto navbar-brand mb-0 h1"> LampPost </span>
      <ul class="navbar-nav"> 
          <li class="nav-item">
              <a class="nav-link" href="#"> Add an Event! </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> About </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> Help </a>
          </li>
        </ul>
    </nav>
    {% if config.DEBUG %}
      <h4 class="debug-data" id="global-debug-msg"></h4>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
  {% block scripts %}{% endblock %}
</html>
