{% macro render_field(field, disabled = false, char_limit = None) %}
  <div class="form-elt {% if field.errors %}error{% endif %}">
    {% if field.type == "TextAreaField" %}
      <h6>{{ field.label }}</h6>
      {{ field(placeholder = field.description, maxlength = field.max, disabled = disabled) }}
      {% if char_limit != None %}
        <p class="count" id="{{ field.name }}">Characters left: {{ char_limit }}</p>
      {% endif %}
    {% else %}
      {{ field(placeholder = field.description, disabled = disabled) }}
    {% endif %}
    {% if field.errors %}
      <p class="error-msg">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}

<!DOCTYPE html>

<html>
  <head>
    <title>LampPost</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block header %}{% endblock %}
  </head>

  <body>  <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm navbar-default">
      <span class="mr-auto navbar-brand mb-0 h1"> LampPost </span>
      <ul class="navbar-nav"> 
          <li class="nav-item">
              <a class="nav-link" href="#"> Add an Event! </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> About </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> Help </a>
          </li>
        </ul>
    </nav>
    {% if config.DEBUG %}
      <h4 class="debug-data" id="global-debug-msg"></h4>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
  {% block scripts %}{% endblock %}
</html>